* {
    font-family: poppins;
    text-decoration: none;

}

.container-topo {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}

.links-topo {
    word-spacing: 30px;
    color: #233032;
}

.container-banner {
    height: 600px;
    background-color: #2f86d6;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
}

.texto-banner h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0px;
}

.texto-banner p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
}

.texto-anuncio1 {
    height: 150px;
    background-color: #233032;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.tabeladeprecos1 {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    background-color: #2f86d6;
    cursor: pointer;
}

.tabeladeprecos1 a {
    color: #fff;
}

.texto-informacional1 {
    margin-top: 110px;
    font-size: 22px;
    text-align: center;
}

.texto-informacional1 span {
    color: #2f86d6;
}

.cards {
    padding-top: 80px;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.cards img {
    width: 100px;
}

.area-tabela {
    background-color: #b5c8da;
    padding-bottom: 100px;
}

.texto-informacional2 {
    font-size: 22px;
    text-align: center;
    padding-top: 80px;
}

.texto-informacional2 span {
    color: #2f86d6;
}

.tabela-planos {

    padding-top: 80px;
}

table {
    text-align: center;
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 2px 40px 15px rgba(47, 134, 214, 1);
    background-color: #fff;

}

table thead th {
    padding: 20px 0px;
}

table tbody td img {
    width: 100px;
    margin: auto;

}

table tbody th {
    max-width: 150px;
    font-size: 13px;
    font-weight: 500;
}

table tbody td {
    width: 250px;
    max-width: 1024px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
}

.container-texto3 {
    height: 150px;
    background-color: #233032;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}